#headline {
    font-size: 60px
}
h1 {
    font-family: "ALK Rex Bold", sans-serif;
}

h2{
    font-family: "ArchyEDT-Bold", sans-serif;
}
h3{
    font-family: "BPG Nino Mtavruli Book", sans-serif;

}
div {
    font-family: "BPG Nino Elite Ultra Caps", sans-serif;


}

